@font-face {
  font-family: 'YesevaOne';
  src: url("../../fonts/Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: "UnderText";
  src: url("../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

body {
  background-color: #030303;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.caption {
  font-size: 45px;
  font-family: 'YesevaOne';
  color: #d9a440;
  display: inline-block;
  position: relative;
  margin-top: 80px;
}

.caption::after {
  content: '';
  font-size: 24px;
  font-family: 'UnderText';
  color: #b4b4b4;
  white-space: nowrap;
  position: absolute;
  bottom: -18px;
  left: 200px;
}

.caption::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 3px;
  background-color: #d9a440;
}

.title {
  font-family: UnderText;
  color: #b4b4b4;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__nickname:after {
  content: 'Frontend Developer';
}

.header__circle {
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -100px;
  left: 20vw;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(96, 96, 96, 0) 0%, rgba(110, 98, 76, 0) 28%, rgba(224, 167, 65, 0.03) 60%, rgba(110, 98, 76, 0) 73%, rgba(96, 96, 96, 0) 100%);
  z-index: 5;
}

.header__scrool {
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 50px;
  left: 400px;
  z-index: 6;
}

.header__burger {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px #b69b67 solid;
  position: absolute;
  right: 110px;
  top: 140px;
  z-index: 2;
}

.header__burger span {
  width: 40px;
  display: block;
  margin: 11px auto;
  border: inherit;
  z-index: 1;
}

.header__lamp {
  width: 180px;
  height: 300px;
  background-image: url("../img/_bg.png");
  background-color: #030303;
  background-size: cover;
  background-blend-mode: lighten;
  margin-top: 100px;
  z-index: 2;
}

.header__title {
  font-family: 'UnderText';
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 80px;
  color: transparent;
}

.header__btnScroll {
  font-size: 25px;
  color: #303030;
  font-family: 'UnderText';
}

.header__to {
  position: relative;
}

.header__to::after {
  content: '';
  width: 0;
  height: 0;
  left: 65px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #303030;
  position: absolute;
  margin-top: 10px;
}

.header__to::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  left: 65px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #030303;
  margin-top: 10px;
  z-index: 2;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 200px;
}

.services__description {
  margin-top: 50px;
  margin-left: 275px;
}

.services__block {
  margin-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.services__item {
  padding: 5px;
  font-size: 45px;
  color: #b4b4b4;
  font-family: UnderText;
  -webkit-transition: color .5s;
  transition: color .5s;
  padding: 1px 0;
}

.services__item:hover {
  color: #b69b67;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  padding: 0 0;
}

.services__content {
  width: 450px;
  color: #b4b4b4;
  padding: 0 20px;
  font-family: UnderText;
  font-size: 25px;
}

.services__img {
  width: 650px;
  height: 400px;
  margin-left: 100px;
  background: #030303 url("../img/services/laptop.png") center no-repeat;
  background-size: contain;
  background-blend-mode: lighten;
  -webkit-animation: blur 1s;
          animation: blur 1s;
  z-index: 5;
}

.services__wall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 300px;
  height: 700px;
  position: absolute;
  background-image: url("../img/services/wall.jpg");
  background-color: #030303;
  background-size: cover;
  background-blend-mode: lighten;
  z-index: 4;
}

.services__wall-left {
  left: 0px;
  background-position: 100%;
  z-index: -1;
}

.services__wall-right {
  right: 0px;
  background-position: 0%;
  z-index: -1;
}

.portfolio {
  width: 100%;
  height: 1000px;
}

.portfolio__dropbtn {
  background-color: #030303;
  border: 1px solid #303030;
  color: #b4b4b4;
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
  font-family: UnderText;
}

.portfolio__dropdown {
  position: relative;
  display: inline-block;
}

.portfolio__dropdown:hover .portfolio__dropcontent {
  display: block;
}

.portfolio__dropcontent {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 24px;
  border: 1px solid #303030;
  cursor: pointer;
}

.portfolio__dropcontent a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b4b4b4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
}

.portfolio__dropcontent a:hover {
  color: #b69b67;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1700px;
  }
  .services__img {
    margin-left: 0;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
  .services__wall-right {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
  .header__circle {
    display: none;
  }
  .header__title span {
    background-color: #b69b67;
  }
  .services__list {
    display: none;
  }
  .services__wall-left {
    display: none;
  }
  .services__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__description {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    height: auto;
  }
  .header__to, .header b {
    display: none;
  }
  .header__description {
    max-width: 450px;
    width: 100%;
  }
  .header__burger {
    right: 25px;
    top: 175px;
  }
  .header__title {
    word-wrap: break-word;
    text-align: center;
  }
  .header__title span {
    background-color: #b69b67;
  }
  .services__img {
    max-width: 650px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
  .caption {
    margin-top: 50px;
  }
  .caption::before {
    top: -5px;
  }
  .header__nickname {
    left: -50px;
    font-size: 8vw;
  }
  .header__nickname::after {
    font-size: 6vw;
    top: 38px;
    left: 10px;
  }
  .header__burger {
    top: 50px;
  }
  .header__title span {
    font-size: 10vw;
  }
  .services {
    margin-top: 100px;
  }
  .services__content {
    max-width: 100%;
    width: 250px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .services__img {
    max-width: 100%;
    width: 80%;
    background-size: contain;
  }
}
/*# sourceMappingURL=style.css.map */