@font-face {
  font-family: 'YesevaOne';
  src: url("../../fonts/Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: "UnderText";
  src: url("../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

body {
  background-color: #030303;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.caption {
  font-size: 45px;
  font-family: 'YesevaOne';
  color: #d9a440;
  display: inline-block;
  position: relative;
  margin-top: 80px;
}

.caption::after {
  content: '';
  font-size: 24px;
  font-family: 'UnderText';
  color: #b4b4b4;
  white-space: nowrap;
  position: absolute;
  bottom: -18px;
  left: 200px;
}

.caption::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 3px;
  background-color: #d9a440;
}

.title {
  font-family: UnderText;
  color: #b4b4b4;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__nickname:after {
  content: 'Frontend Developer';
}

.header__circle {
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -100px;
  left: 20vw;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(96, 96, 96, 0) 0%, rgba(110, 98, 76, 0) 28%, rgba(224, 167, 65, 0.03) 60%, rgba(110, 98, 76, 0) 73%, rgba(96, 96, 96, 0) 100%);
  z-index: 5;
}

.header__scrool {
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 50px;
  left: 400px;
  z-index: 6;
}

.header__burger {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px #b69b67 solid;
  position: absolute;
  right: 110px;
  top: 140px;
  z-index: 2;
}

.header__burger span {
  width: 40px;
  display: block;
  margin: 11px auto;
  border: inherit;
  z-index: 1;
}

.header__lamp {
  width: 180px;
  height: 300px;
  background-image: url("../img/_bg.png");
  background-color: #030303;
  background-size: cover;
  background-blend-mode: lighten;
  margin-top: 100px;
  z-index: 2;
}

.header__title {
  font-family: 'UnderText';
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 80px;
  color: transparent;
}

.header__btnScroll {
  font-size: 25px;
  color: #303030;
  font-family: 'UnderText';
}

.header__to {
  position: relative;
}

.header__to::after {
  content: '';
  width: 0;
  height: 0;
  left: 65px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #303030;
  position: absolute;
  margin-top: 10px;
}

.header__to::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  left: 65px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #030303;
  margin-top: 10px;
  z-index: 2;
}

main {
  margin-top: 150px;
  position: relative;
}

.main {
  margin-top: 150px;
}

.main__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px  4fr 1fr;
      grid-template-columns: 400px  4fr 1fr;
}

.main__menu {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

.main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 200px 1fr;
      grid-template-rows: 200px 200px 1fr;
      grid-template-areas: "title title"  "text text"  "img img";
  color: #ffffffdf;
}

.main__titleBlock {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main__title {
  font-size: 60px;
  font-family: 'UnderText';
  font-weight: 600;
  letter-spacing: 20px;
  color: #ffffffdf;
}

.main__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main__textBlock {
  width: 600px;
  max-height: 200px;
  height: auto;
  overflow: hidden;
  font-family: UnderText;
  font-size: 25px;
}

.main__imgBlock {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main__img {
  display: block;
  width: 600px;
  height: 400px;
  background-image: url("../img/services/laptop.png");
  background-color: #030303;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: lighten;
  -webkit-animation: blur 1s;
          animation: blur 1s;
}

.menu {
  display: -ms-grid;
  display: grid;
}

.menu__item {
  list-style: none;
  padding: 25px;
  text-align: right;
  font-family: UnderText;
  font-size: 45px;
  color: #b69b67;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.menu__item:hover {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #d9a440;
}

.wall {
  display: block;
  width: 300px;
  height: 700px;
  background-image: url("../img/services/wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #030303;
  background-blend-mode: lighten;
  position: absolute;
  top: 100px;
  z-index: -2;
}

.wall__left {
  background-position: 100%;
  left: 0;
}

.wall__right {
  background-position: 0%;
  right: 0;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1700px;
  }
  .services__img {
    margin-left: 0;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
  .services__wall-right {
    display: none;
  }
  .header__circle {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
  .header__title span {
    background-color: #b69b67;
  }
  .services__list {
    display: none;
  }
  .services__wall-left {
    display: none;
  }
  .services__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__description {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    height: auto;
  }
  .header__to, .header b {
    display: none;
  }
  .header__description {
    max-width: 450px;
    width: 100%;
  }
  .header__burger {
    right: 25px;
    top: 175px;
  }
  .header__title {
    word-wrap: break-word;
    text-align: center;
  }
  .header__title span {
    background-color: #b69b67;
  }
  .services__img {
    max-width: 650px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
  .caption {
    margin-top: 50px;
  }
  .caption::before {
    top: -5px;
  }
  .header__nickname {
    left: -50px;
    font-size: 8vw;
  }
  .header__nickname::after {
    font-size: 6vw;
    top: 38px;
    left: 10px;
  }
  .header__burger {
    top: 50px;
  }
  .header__title span {
    font-size: 10vw;
  }
  .services {
    margin-top: 100px;
  }
  .services__content {
    max-width: 100%;
    width: 250px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .services__img {
    max-width: 100%;
    width: 80%;
    background-size: contain;
  }
}
/*# sourceMappingURL=style.css.map */