@font-face {
	font-family: 'YesevaOne';
	src: url('../../fonts/Yeseva_One/YesevaOne-Regular.ttf');
}
@font-face{
    font-family: "UnderText";
    src: url('../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf')    
}