@media screen and (max-width: 1700px){
    .container{
        max-width: 1700px;
    }
    .services{
        &__img{
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 1600px){
    .container{
        max-width: 1600px;
    }

    .header{
        &__circle{
            display: none;
        }
    }
}
@media screen and (max-width: 1300px){
    .container{
        max-width: 1300px;
    }
    .header{
        &__title{
            span{
                background-color: $gold;
            }
        }
    }
    .menu{
        &__item{
            text-align: left;
        }
    }
    .wall{
        &__right{
            display: none;
        }
    }

        
}
@media screen and (max-width: 1000px){
    .main{
        display: none;
        &__container{
            grid-template-columns: 1fr;
        }
        &__menu{
            display: none;
        }
    }
    .wall{
        &__left{
            display: none;
        }
    }
    .mobile{
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5,500px);
        }
    }

}

@media screen and (max-width: 768px){
    .container{
        max-width: 768px;
        width: 100%;
        height: auto;
    }
    
    .header{
        &__to,b{
            display: none;
        }
            
        &__description{
            max-width: 450px;
            width: 100%;
        }
        &__burger{
            right: 25px;
            top: 175px;
        }
        &__title{
            word-wrap: break-word;
            text-align: center;
            span{
                background-color: $gold;
            }
        }
    }
    main{
        margin-top: 50px;
    }
    .main{
        
        &__content{
            grid-template-rows: 100px auto auto;
            grid-template-areas: 
            'title'
            'text'
            'img'
            ;
        }
        &__img{
            width: 200px;
            height: 200px;
        }
        &__textBlock{
            width: 100%;
        }
        &__text{
            padding: 1em;
        }
        &__title{
            font-size: 35px;
        }
    }
    
}



@media screen and (max-width: 480px){
    .container{
        max-width: 480px;
        width: 100%;
    }
    .caption{
        margin-top: 50px;
        &::before{
            top: -5px;
        }
    }
    .header{
        &__nickname{
            left: -50px;
            font-size: 9vw;
            &::after{
                font-size: 6vw;
                top:42px;
                left: 10px;
            }
        }
        &__burger{
            top: 50px;
        }
        &__title span{
            font-size: 10vw;
        }
    }
}

@media screen and (max-width: 350px){
    .header{
        &__nickname{
            left: -50px;
            font-size: 8.5vw;
            &::after{
                font-size: 6vw;
                top:28px;
                left: 10px;
            }
        }
}
}


