@media screen and (max-width: 1700px){
    .container{
        max-width: 1700px;
    }
    .services{
        &__img{
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 1600px){
    .container{
        max-width: 1600px;
    }

    .header{
        &__circle{
            display: none;
        }
    }
}
@media screen and (max-width: 1300px){
    .container{
        max-width: 1300px;
    }
    .header{
        &__title{
            span{
                background-color: $gold;
            }
        }
    }
    .menu{
        &__item{
            text-align: left;
        }
    }
    .wall{
        &__right{
            display: none;
        }
    }
    .about{
        &__body{
            img{
            width: 400px;
        }
        }
        
        &__title{
            padding-bottom: 20px;
        }
        &__discription{
            padding-bottom: 50px;
        }
    }
        
}
@media screen and (max-width: 1000px){
    .main{
        display: none;
        &__container{
            grid-template-columns: 1fr;
        }
        &__menu{
            display: none;
        }
    }
    .wall{
        &__left{
            display: none;
        }
    }
    .mobile{
        &__container{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__content{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 768px){
    .container{
        max-width: 768px;
        width: 100%;
        height: auto;
    }
    .caption{
        margin-left: -100px;
    }
    .header{
        &__to,b{
            display: none;
        }
            
        &__description{
            max-width: 450px;
            width: 100%;
        }
        &__burger{
            right: 25px;
        }
        &__title{
            word-wrap: break-word;
            text-align: center;
            span{
                background-color: $gold;
            }
        }
    }
    main{
        margin-top: 50px;
    }
    .main{
        
        &__content{
            grid-template-rows: auto auto;
            grid-template-areas: 
            'title'
            'text'
            'img'
            ;
        }
        &__img{
            width: 300px;
            height: 200px;
        }
        &__textBlock{
            width: 100%;
        }
        &__text{
            padding: 1em;
        }
        &__title{
            font-size: 35px;
        }
    }
    .about{
        &__body{
            flex-direction:column;
            margin-bottom: 50px;
        }
    }
    .footer{
        flex-direction: column;
       
        &__data{
             margin: 0;
        }
        &__copyright{
            order: 2;
        }
        &__icons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin: 50px 0;

            i{
                margin-left: 20px;
                font-size: 30px;
            }
        }
    }
    
}



@media screen and (max-width: 480px){
    .container{
        max-width: 480px;
        width: 100%;
    }
    .caption{
        margin-top: 50px;
        margin-left: 0;
        &::before{
            top: -5px;
        }
    }
    .header{
        &__nickname{
            left: -50px;
            font-size: 9vw;
            &::after{
                font-size: 6vw;
                top:42px;
                left: 10px;
            }
        }
        &__burger{
            top: 50px;
        }
        &__title span{
            font-size: 10vw;
        }
    }
    .about{
        margin-top: 50px;
        margin-bottom: 0;
        &__body{
            margin-bottom: 0;
        }
        &__title{
            margin: 20px auto;
        }
        img{
            width: 80%;
        }
        &__discription{
            width: 80%;
            padding-bottom: 0;
        }
    }
    .footer{
        h2{
            text-align: center;
        }
        &__mail{
            margin: 20px 0;
            align-items: center;
        }
        &__data{
            width: 100%;
        }
        &__icons{
            width: 60%;
            margin: 20px auto;
            flex-wrap: wrap;
        }
    }
    
}

@media screen and (max-width: 360px){
    .caption{
        margin: 25px;
    }
    .header{
        &__nickname{
            left: -50px;
            font-size: 8.5vw;
            &::after{
                font-size: 6vw;
                top:32px;
                left: 10px;
            }
        }
        &__burger{
            top:20px;
        }
        &__lamp{
            margin-top: 30px;
        }
}
    .main{
        &__img{
            width: 80vw;
            height: 40vh;
        }
    } 
    .footer{
        &__data{
            h2{
                font-size: 30px;
                margin-top: 20px;
                text-align: center;
            }
            a{
                font-size: 20px;
            }
        }
        &__icons{
            a{
                font-size: 30px;

            }
        }
    }
}       
    


