
@import 'fonts', 'animation';


// variables
$main_bg_color: #030303;
$gold: #b69b67;
$gold_light: #d9a440;
$active: #b4b4b4;
$brd: #303030;

.up{
    position: fixed;
    right: 50px;
    bottom: 20px;
    color: $gold;
    font-size: 50px;
    cursor: pointer;
    z-index: 999;
    transition: .5s;
    &:hover{
        transform: scale(1.2);
        color:$gold_light;
    }
}
body{
    background-color: $main_bg_color;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
.caption {
    font-size: 45px;
    font-family: 'YesevaOne';
    color: $gold_light;
    display: inline-block;
    position: relative;
    margin-top: 80px;
    &::after{
        content: '';
        font-size: 24px;
        font-family: 'UnderText';
        color: $active;
        white-space: nowrap;
        position: absolute;
        bottom: -18px;
        left: 200px;
    }
    &::before{
        content:'';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 1px;
        top: 3px;
        background-color: $gold_light;
    }
    
} 
.title{
    font-family: UnderText;
    color: $active;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
}

// header
.burgerMenu {
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(3, 3, 3, 0.9);
        top:150px;
        z-index: 999;
        right: 60px;
        border-left: 1px solid $gold_light;
    }

    &__item {
        color: $gold;
        list-style: none;
        font-size: 30px;
        font-family: 'UnderText';
        padding-top: 20px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        transition: all .5s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
            color: $gold_light;        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__nickname{
        &:after{
            content:'Frontend Developer';
        }
    }
    &__circle{
        display: block;
        width: 1000px;
        height: 1000px;
        position: absolute;
        top: -100px;
        left: 20vw;
        border-radius: 100%;
        background: radial-gradient(circle, rgba(96,96,96,0) 0%, rgba(110,98,76,0) 28%, rgba(224,167,65,0.03) 60%, rgba(110,98,76,0) 73%, rgba(96,96,96,0) 100%);
        z-index: 5;
    }
    &__scrool{
        width: 200px;
        height: 70px;
        position: absolute;
        bottom: 50px;
        left: 400px;
        z-index: 6;
        &:hover{
            $hM :20px;
        }
        }
    
    &__burger {
        width: 50px;
        height: 50px;
        display: block;
        border: 1px $gold solid;
        cursor: pointer;
        position: absolute;
        right: 110px;
        top:80px;
        z-index: 2;
        &-span,&-span:after, &-span:before{
            width: 40px;
            height: 2px;
            display: block;
            position: absolute;
            background-color: $gold;
            top: 24px;
            left: 5px;
            z-index: 1;
            transition: .1s;
        }
        &-span:after, span:before{
            content:'';
        }
        &-span:after{
            top: 0;
            left: 0px;
            transform: translateY(-12px);
            transition: .5s;
        } 
        &-span:before{
            top: 0px;
            left: 0px;
            transform: translateY(12px);
            transition: .5s;
        }
        
    }
    &__lamp {
        width: 180px;
        height: 300px;

        background-image: url('../img/_bg.png');
        background-color: $main_bg_color;
        background-size: cover;
        background-blend-mode: lighten;
        margin-top: 100px;
        z-index: 2;
        
    }
    &__title {
        font-family: 'UnderText';
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 80px;
        margin-bottom: 80px;
        color: transparent;
    }
    
    &__btnScroll {
        font-size: 25px;
        color: #303030;
        font-family: 'UnderText';
    }

	&__to {
        position: relative;
        &::after{
            content: '';
            width: 0; 
            height: 0;
            left: 65px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #303030;
            position: absolute;
            margin-top: 10px;
        }
        &::before{
            content: '';
            width: 0; 
            height: 0;
            position: absolute;
            top: -2px;
            left: 65px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $main_bg_color;
            margin-top: 10px;
            z-index: 2;
        }
    }
}

//main
main{
    margin-top: 250px;
    position: relative;
}
.main{
    &__container{
        width: 100%;
        display: grid;
        grid-template-columns: 400px  4fr 1fr;
    }
    &__menu{
        display: grid;
        grid-auto-rows: 1fr;
        align-self: center;
    }
    &__content{
        display: grid;
        grid-template-rows:200px 200px 1fr;
        grid-template-areas:
        "title title" 
        "text text" 
        "img img";
        color: #ffffffdf;
    }
    &__titleBlock{
        grid-area: title;
        align-self: start;
        justify-self: center;
    }
    &__title{
        font-size: 60px;
        font-family: 'UnderText';
        font-weight: 600;
        letter-spacing: 20px;
        color: #ffffffdf;
    }
    &__text{
        grid-area: text;
        justify-self: center;
        text-align: center;
        align-self: start;
    }
    &__textBlock{
        width: 600px;
        max-height: 200px;
        height: auto;
        overflow: hidden;
        
        font-family: UnderText;
        font-size: 25px;
    }
    &__imgBlock{
        grid-area: img;
        justify-self: center;
    }
    &__img{
        display: block;
        width: 600px;
        height: 400px;
        background-image: url('../img/services/laptop.png');
        background-color: #030303;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-blend-mode: lighten;
    }
    
}
.menu{
    display: grid;
    margin-top: 100px;
    &__item{
        list-style: none;
        padding: 25px;
        text-align: right;
        font-family: UnderText;
        font-size: 45px;
        color: $gold;
        text-decoration: none;
        transition: .5s;
        cursor: pointer;
        &:hover{
            display: block;
            transform: scale(1.1);
            color: $gold_light;
        }
    }
}
.wall{
    width: 300px;
    height: 700px;

    background-image: url('../img/services/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #030303;
    background-blend-mode: lighten;

    position: absolute;
    top: 100px;
    z-index: -2;
    &__left{
        display: block;
        background-position: 100%;
        left: 0;
    }
    &__right{
        display: block;
        background-position: 0%;
        right: 0;
    }
}
.mobile{
    &__container{
        display: none;
    }
}

.header__burger-spanActive{
        height: 0;
    &::after{
        transform: rotate(45deg);
        transform-origin: center;
    }
    &:before{
        transform: rotate(-45deg);
        transform-origin: center;
    }
}

//About

.about{
    display: flex;
    flex-direction: column;
    color: #ffffffdf;
    margin-top: 150px;
    margin-bottom: 50px;
    &__title{
        margin: 0 auto;
        padding-bottom: 100px;
    }
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    &__discription{
        width: 500px;
        font-size: 25px;
        font-family: 'UnderText';
        color: #ffffffdf;
        ul{
            color: $gold_light;
            
        }
        span{
                display: block;
                padding: 40px 0 5px 0;
                font-size: 30px;
                letter-spacing: 2px;
                font-weight: 600;
                color: $gold_light;
            }
        a:last-child{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            text-decoration: none;
            button{
                cursor: pointer;
                padding: 10px;
                margin-bottom: 20px;
            }
        }
            }
}
//footer
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffffdf;
    font-size: 25px;
    font-family: 'underText';
    border-top: 2px solid #ffffffdf;
    &__mail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__data{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        a{
            color:#ffffffdf;
            font-size: 25px;
            text-decoration: none;
            margin-top: 10px;
        }
        h2{
            font-size: 30px;
        }
        a[href^="mailto"]:hover a[href^="mailto"]:before{
            color: red;
        }
        a[href^="tel"]:before{
            content:'\f87b';
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900; 
            margin-right: 20px;
        }
        a[href^="mailto"]:before{
            content:'\f199';
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900; 
             margin-right: 20px;
        }

        a[href^="skype"]{
            i{
                margin-right: 20px;
            }
        }
    }
    &__icons{
        margin-top: 10px;
        
        i{
            transition: .3s;
            margin-left: 10px;
        }
        i:hover{
            color:#ffffffdf;
        }
        .fa-facebook{
            color:#4267b2;
        }
        .fa-linkedin{
            color: #1eacf5;
        }
        .fa-discord{
            color: #7289da;
        }
        .fa-telegram{
            color: #0088CC;
        }
        .fa-twitter-square{
            color: #1DA1F2;
        }
        .fa-whatsapp{
            color: #01c10a;
        }
        .fa-viber{
            color: #8661d2;
        }
    }

}
@import 'media';