
@import 'fonts', 'animation';


// variables
$main_bg_color: #030303;
$gold: #b69b67;
$gold_light: #d9a440;
$active: #b4b4b4;
$brd: #303030;


body{
    background-color: $main_bg_color;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
.caption {
    font-size: 45px;
    font-family: 'YesevaOne';
    color: $gold_light;
    display: inline-block;
    position: relative;
    margin-top: 80px;
    &::after{
        content: '';
        font-size: 24px;
        font-family: 'UnderText';
        color: $active;
        white-space: nowrap;
        position: absolute;
        bottom: -18px;
        left: 200px;
    }
    &::before{
        content:'';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 1px;
        top: 3px;
        background-color: $gold_light;
    }
    
} 
.title{
    font-family: UnderText;
    color: $active;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
}

// header
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__nickname{
        &:after{
            content:'Frontend Developer';
        }
    }
    &__circle{
        display: block;
        width: 1000px;
        height: 1000px;
        position: absolute;
        top: -100px;
        left: 20vw;
        border-radius: 100%;
        background: radial-gradient(circle, rgba(96,96,96,0) 0%, rgba(110,98,76,0) 28%, rgba(224,167,65,0.03) 60%, rgba(110,98,76,0) 73%, rgba(96,96,96,0) 100%);
        z-index: 5;
    }
    &__scrool{
        width: 200px;
        height: 70px;
        position: absolute;
        bottom: 50px;
        left: 400px;
        z-index: 6;
        &:hover{
            $hM :20px;
        }
        }
    
    &__burger {
        width: 50px;
        height: 50px;
        display: block;
        border: 1px $gold solid;
        position: absolute;
        right: 110px;
        top:140px;
        z-index: 2;
        span{
            width: 40px;
            display: block;
            margin: 11px auto;
            border: inherit;
            z-index: 1;
        }
    }
    &__lamp {
        width: 180px;
        height: 300px;

        background-image: url('../img/_bg.png');
        background-color: $main_bg_color;
        background-size: cover;
        background-blend-mode: lighten;
        margin-top: 100px;
        z-index: 2;
        
    }
    &__title {
        font-family: 'UnderText';
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 80px;
        margin-bottom: 80px;
        color: transparent;
    }
    
    &__btnScroll {
        font-size: 25px;
        color: #303030;
        font-family: 'UnderText';
    }

	&__to {
        position: relative;
        &::after{
            content: '';
            width: 0; 
            height: 0;
            left: 65px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #303030;
            position: absolute;
            margin-top: 10px;
        }
        &::before{
            content: '';
            width: 0; 
            height: 0;
            position: absolute;
            top: -2px;
            left: 65px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $main_bg_color;
            margin-top: 10px;
            z-index: 2;
        }
    }
}

// services

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    
    
    &__description{
        margin-top: 50px;
        margin-left: 275px;
    }
    &__block{
        margin-top: 80px;
        width: 100%;
        display: flex;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 100%;
    }
    &__item{
        padding: 5px;
        font-size: 45px;
        color: $active;
        font-family: UnderText;
        transition: color .5s;
        padding: 1px 0;
        cursor: pointer;
        &:hover{
            color:$gold;
            border-top: 1px solid $brd;
            border-bottom: 1px solid $brd;
            padding: 0 0;
        }
    }
    &__content{
        width: 450px;
        color: $active;
        padding: 0 20px;
        font-family: UnderText;
        font-size: 25px;
    }
    &__img{
        width: 650px;
        height: 400px;
        margin-left: 100px;

        background: #030303 url('../img/services/laptop.png') center no-repeat;
        background-size: contain;
        background-blend-mode: lighten;
        animation: blur 1s;

        z-index: 5;
        }
    &__wall{
        display: flex;
        justify-content: end;
        width: 300px;
        height: 700px;

        position: absolute;
        
        background-image: url('../img/services/wall.jpg');
        background-color: #030303;
        background-size: cover;
        background-blend-mode: lighten;
        
        z-index: 4;
    }
    &__wall-left{
        left: 0px;
        background-position: 100%;
        z-index: -1;
    }
    &__wall-right{
        right: 0px;
        background-position: 0%;
        z-index: -1;
    }
  
}

// portfolio

.portfolio{
    width: 100%;
    height: 1000px;
    &__dropbtn{
        background-color: #030303;
        border: 1px solid #303030;
        color: $active;
        padding: 16px;
        font-size: 24px;
        cursor: pointer;
        font-family: UnderText;
    }
    &__dropdown{
        position: relative;
        display: inline-block;
        &:hover .portfolio__dropcontent{
            display: block;
        }
    }

    &__dropcontent{
        display: none;
        position: absolute;
        z-index: 1;
        font-size: 24px;
        border: 1px solid #303030;
        cursor: pointer;
        a{
            display: flex;
            color: $active;
            justify-content: center;
            text-decoration: none;
            padding: 10px 20px;
            &:hover{
                color: $gold;
            }
        }
    }

}


@import 'media';